:root {
  --sm-screen: 640;
  --md-screen: 768;
  --lg-screen: 1024;
  --xl-screen: 1280;

  --gray-100: #4d565d;
  --gray-200: #72818d;
  --gray-300: #9dadbb;
  --gray-400: #b2c1cd;
  --gray-500: #757575;
  --gray-600: #cdd6de;
  --gray-700: #eceff1;
  --gray-800: #72818b;

  --blue-100: #004876;
  --blue-200: #006cb2;
  --blue-300: #0096ed;
  --blue-400: #00aef3;
  --blue-500: #6cc8f7;
  --blue-600: #289aef;
  --blue-700: #3d8cd8;

  --green-100: #005f56;
  --green-200: #009182;
  --green-300: #1fbfae;
  --green-400: #1fd1c2;
  --green-500: #7de1d6;

  --yellow-100: #845c1e;
  --yellow-200: #c68b2e;
  --yellow-300: #ffb748;
  --yellow-400: #ffcb71;
  --yellow-500: #ffdda0;

  --red-100: #870017;
  --red-200: #cb0026;
  --red-300: #ff003a;
  --red-400: #ff3569;
  --red-500: #ff7d9c;
  --red-600: #fc1e38;

  --white: #ffffff;
  --black: #000000;

  --28px: 1.75rem;
  --24px: 1.5rem;
  --22px: 1.375rem;
  --18px: 1.125rem;
  --16px: 1rem;
  --14px: 0.875rem;
  --12px: 0.75rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#app {
  isolation: isolate;
}
